ul{
    list-style: none;
}

ul li a{
    color: black;
    font-weight: bold;
    font-size: x-large;
}

li{
    margin: 25px 0px;
}

a:hover{
    color: #FFAA00;
}

aside {
    position: fixed;
    margin: 150px 0px;
}

.home-main{
    position: relative;
    margin: 100px 0px 0px 15%
}

.section-title{
    width: 200px;
}

hr{
    margin-top: -15px;
    height: 2px;
    background-color: black;
}

.section-data{
    display:flex;
    margin-left: 50px;
}

.section-data img{
    flex: 1,0,auto;
    margin: 30px
}

.section-data img:hover{
    cursor: pointer;
}

.data-container{
    position: relative;
}

.type-tag{
    position: absolute;
    top:30px;
    left:30px;
    background-color: #FFFF00;
    height: 40px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    line-height: 37px;
}


.add-button-container{
    position: absolute;
    top: -50px;
    right: 200px;
}

.add-button-container a > *:nth-child(n){
    margin: 5px;
}