ul{
    list-style: none;
}

ul li a{
    color: black;
    font-weight: bold;
    font-size: x-large;
}

li{
    margin: 25px 0px;
}

a:hover{
    color: #FFAA00;
}

aside {
    position: fixed;
    margin: 150px 0px;
}

.home-main{
    position: relative;
    margin: 100px 0px 0px 15%
}

.section-title{
    width: 300px;
}

hr{
    margin-top: -15px;
    height: 2px;
    background-color: black;
}

.section-content{
    margin-left: -60px;
}

.section-content,
.section-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow,
.right-arrow {
    font-size: 75px;
    cursor:pointer
}

.section-data img{
    flex: 1,0,auto;
    margin: 30px
}

.section-data img:hover{
    cursor: pointer;
}

.data-container{
    position: relative;
}

.type-tag{
    position: absolute;
    top:30px;
    left:30px;
    height: 40px;
    width: 100px;
    font-weight: bold;
    line-height: 37px;
    text-align: center;
    background-color: #FFFF00;
    font-size: x-large;
}
.time-tag{
    position: absolute;
    background-color: #FFFF00;
    top:30px;
    left:30px;
    height: 40px;
    line-height: 37px;
    font-size: 10;
    font-weight: bold;
    padding: 0px 5% 0px;
}


.add-button-container{
    position: absolute;
    top: -50px;
    right: 200px;
}

.add-button-container a > *:nth-child(n) {
    margin: 5px;
}

/* add button logo */
.add-button-container a > :nth-child(1) {
    font-size: 50px;
    color:#FFAA00
}

/* add button word */
.add-button-container a > :nth-child(2) {
    margin-top: -38px;
    display: inline-block; /* Ensure the height is respected */
    vertical-align: middle; /* Align the text vertically */
    font-size: 25px;
    font-weight: 700;
    color:#FFAA00
}

.stats-container{
    position: absolute;
    bottom: -20px;
    left: 175px;
}

.stats-container span{
    margin: 5px;
}

.stats-container :nth-child(1) {
    font-size: 25px;
}

.stats-container :nth-child(2) {
    margin-bottom: 19px;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
}